*{
    padding: 0px;
    margin: 0px;
}
body,html{
    min-height: 100%;
}
body{
    background-image: linear-gradient(to top, #00c6fb 0%, #005bea 100%);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #00c6fb;
    color: rgb(166, 245, 228);
    cursor:default;
    font-family: 'Open Sans','Helvetica Neue',Helvetica, sans-serif;
    font-weight: bolder;
}
nav>ul>li>a{
    text-decoration: none;
}
nav{
    padding: 1px;
    height: 2.64em;
}
nav ul{
    margin-top: 15px;
    text-decoration: none;
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
}
nav a{
    font-size: 1.24em;
    padding: 12px;
    text-decoration: none;
    color: rgb(117, 239, 255);
    background-color: transparent;
}
nav a:hover{
    text-decoration-line: underline;
    transition: 0.3s ease-in;
}
h1{
    text-align: center;
    color: rgb(166, 245, 228);
    font-size: 50px;
    text-transform: capitalize;
}
h2{
    color: rgb(255, 194, 80);
    position: relative;
    top:10px;
    left: 0px;
    margin-bottom: 20px;
    font-size: 2em;
    text-transform: capitalize;
    width: 88.4%;
    border-radius: 2em;
    padding-left: 30px;
}
h3{
    float:right;
}
.contain{
    background-color: rgba(48, 99, 162, 0.678);
    padding: 10px;
    height: auto;
    margin:30px;
    border-radius: 50px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    /* justify-content: center; */
}
.row{
    max-width: 150px;
    margin: 12px;
    /* border: 1px solid black; */
    padding: 1px;
    aspect-ratio: 1/1;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex-flow: column-reverse;
}
    .row img{
    max-width: 150px;
height: auto;
/* border: black solid 1px; */
    }
.row a {
    text-decoration: none;
    
}

.row a p{
    position: relative;
    top: 30px;
    font-family: 'Otomanopee One', sans-serif;
    font-size: 13.7px;
    justify-content: center;
    padding: 12px;
    background-image: linear-gradient( lime, green);
    border: solid 1px black;
    border-radius: 12px;
    display: flex;
    margin-bottom: 50px;
    margin-left: 7px;
    margin-right: 7px;
    color: rgb(0, 0, 0);
    text-transform: capitalize;
}

.row a p:hover{
    background-image: linear-gradient( silver, rgb(117, 117, 117));
    transform: scale(1.1);
}
/* ANDROID Stability */
@media screen and (max-width:900px){ 
nav ul li  a {
    font-size: 15px;
    padding: 8px;

}
h1{
    margin-top: 20px;
    font-size: 30px;
}

    .contain{
    margin: 20px;
}
.row img{
    max-width: 90px;
}
.row a p{
    font-family: 'Otomanopee One', sans-serif;
    font-size: 10.7px;
    padding: 12px;
    margin-bottom: 50px;
    margin-left: 7px;
    margin-right: 7px;
    text-transform: capitalize;
}

}