*{
    padding: 0px;
    margin: 0px;
}
body,html{
    min-height: 100%;
}
body{
    /* background-image: url("IMG/bg.png"); */
    background-image: linear-gradient(to top, #00c6fb 0%, #005bea 100%);
    background-repeat: no-repeat;
    background-size: cover;

}
nav>ul>li>a{
    text-decoration: none;
}
nav{
    padding: 1px;
    height: 2.64em;
}
nav ul{
    margin-top: 15px;
    text-decoration: none;
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
}
nav a{
    font-size: 1.24em;
    padding: 12px;
    text-decoration: none;
    color: rgb(117, 239, 255);
    background-color: transparent;
}
nav a:hover{
    text-decoration-line: underline;
    transition: 0.3s ease-in;
}
h1{
    text-align: center;
    color: rgb(166, 245, 228);
    font-size: 50px;
}
img{
    max-width: 205px;
    width :400px;
    max-height: 205px;
    display:inline-block;
    /* border: solid 1px #fff; */
}
.tbn{
    position: relative;
    top: 45px;
    text-align: center;
    
}
.tbn .row1{
    display: inline-block;
    position: relative;
    width: 18em;
}
.tbn .row2{
    display: inline-block;
    position: relative;
    width: 18em;
}
.tbn .row3{
    display: inline-block;
    position: relative;
    width: 18em;
}
.tbn .row4{
    display: inline-block;
    position: relative;
    width: 18em;
}
.tbn .row5{
    display: inline-block;
    position: relative;
    width: 18em;
}
.tbn .row6{
    margin-top: 40px;
    display: inline-block;
    position: relative;
    width: 18em;
}
.tbn .row7{
    display: inline-block;
    position: relative;
    width: 18em;
}
.tbn .row8{
    display: inline-block;
    position: relative;
    width: 18em;
}
.tbn .row9{
    display: inline-block;
    position: relative;
    width: 18em;
}

.tbn a{
    display: inline-block;
    text-decoration: none;
     position: relative;
    top: 30px;
    text-align: center;
    color: rgb(0, 0, 0);
}
/* its is a button */
.tbn a {
    padding: 26px;
    background-image: linear-gradient( lime, green);
    border: solid 1px black;
    border-radius: 18px;
    border-style:double;
    font-family: 'Otomanopee One', sans-serif;
}
.tbn a:hover{
    background-image: linear-gradient( silver, rgb(117, 117, 117));

}
@media screen and (max-width: 800px) and (max-height: 1024px)
{
    body,html{
        min-height: 100%;
    }
    body{
        background-color: #00c6fb ;
    /* background-image: linear-gradient(to top, #00c6fb 0%, #005bea 100%);
    background-repeat:repeat;
    background-size: cover; */
    }
    nav>ul>li> a{
        font-size: 15px;
    }
    h1{
        font-size: 25px;
    }
    .tbn .row1{
        /* border: 1px soild #fff; */
        display: inline-block;
        position: relative;
    }
    .tbn .row2{
        display: inline-block;
        position: relative;
    }
    .tbn .row3{
        display: inline-block;
        position: relative;
    }
    .tbn .row4{
        display: inline-block;
        position: relative;
    }
    .tbn .row5{
        display: inline-block;
        position: relative;
    }
    .tbn .row6{
        display: inline-block;
        position: relative;
    }
    .tbn .row7{
        display: inline-block;
        position: relative;
    }
    img{
        max-width: 150px;
        max-height: 150px;
        display: block;
        padding: 0px;
    }
    .tbn a{
        padding: 5px;
        font-size: 14px;
        display: inline-block;
        text-decoration: none;
         position: relative;
        top: -100px;
        left: 80px;
        text-align: center;
        color: rgb(0, 0, 0);
    }

}