@media screen and (min-width:900px){
.sidenav {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  transition: 0.5s;
  padding-top: 60px;
}
.butn a {
  color: black;
font-size: 25px;
margin: 10px;
padding:8px;
background-color: #e6e6ff;
border:2px solid transparent;
text-decoration: none;
font-size: 25px;
display: block;
transition: 0.3s;
}

.butn a:hover,.close:hover {
color: #1d0daa;
background-color: #009900;
border: 2px solid white;
}
.close{
color: black;
margin: 10px;
padding:2px 12px;
background-color: #e6e6ff;
border:2px solid transparent;
text-decoration: none;
display: none;
transition: 0.3s;
}
.sidenav .closebtn {
position: absolute;
top: 0;
right: 25px;
font-size: 36px;
margin-left: 50px;
}
#hide{
  display: none;
}
}
@media screen and (max-width:900px){
  #hide{
    top: 20px;
    left: 30px;
    position: relative;
    text-decoration: none;
  	color: #fff;
	  padding: 5px 20px;
	  transition: 0.6s ease;
	  background-color: #41B43F;
	  border-style: solid ;
  	border-width: 3px ;
	  border-top-color: #ADEFAC;
  	border-left-color: #ADEFAC; 
	  border-right-color: #137312; 
	  border-bottom-color: #137312;
  }
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7));
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .butn a {
      color: black;
    font-size: 25px;
    margin: 10px;
    padding:8px;
    background-color: #e6e6ff;
    border:2px solid transparent;
    text-decoration: none;
    font-size: 25px;
    display: block;
    transition: 0.3s;
  }
  
  .butn a:hover,.close:hover {
    color: #1d0daa;
    background-color: #009900;
    border: 2px solid white;
  }
  .close{
    color: black;
    margin: 10px;
    padding:2px 12px;
    background-color: #e6e6ff;
    border:2px solid transparent;
    text-decoration: none;
    display: block;
    transition: 0.3s;
  }
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
}