*{padding: 0;margin: 0;}
body{
    transition: background-color .5s;
    background-image:linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.2)), url("../IMG/3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
	background-position: center;
	height: 100vh;
}
